[Unit]
Description=Apache Jena Fuseki
After=syslog.target network.target
ConditionFileIsExecutable=/home/petnovak/github/fuseki/fuseki-server

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/home/petnovak/github/fuseki/fuseki-server --update

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
